html{
	background-color: black;
}
*{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-shadow: -1px  0 #000;
}
body {
  	margin: auto;
  	width: 50%;
  	border: 3px solid yellow;
    padding: 10px;
    padding-bottom: 30%;
    background-color: #e3d3d3;
}
label {
    width:180px;
    clear:left;
    text-align:left;
    padding-right:10px;
}
h2{
	color: #ffce1d;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
input, label {
    float:left;
}
.ok{
	position: relative;
 	left: 191px;
	width:185px;
	background-color: #088cbc;
	border: 1px solid blue;
  color: white;
  padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px
	box-shadow: -1px 4px 8px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 4px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 8px 0px rgba(0,0,0,0.75);
}
.ok:hover{
	background-color: #5bc3dc;
 	color: white;
}